{% extends 'quotes/base.html' %}

{% block content %}
<style>
.quote {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 900px; 
    max-height: 700px;
    word-wrap: break-word;
}

    .quote .text {
        font-size: 18px;
        font-style: italic;
        color: #ffffff;
    }
    
    .by {
        display: block;
    }

    .quote .author {
        font-weight: bold;
        color: #007bff;
    }

    .tags {
        margin-top: 10px;
    }

    .tags .tag {
        margin-bottom: 5px;
        display: inline-block;
        margin-right: 5px;
        padding: 6px 10px;
        background-color: #007bff;
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .tags .tag:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .col-md-8 {
        margin-top: 30px;
    }

    .top-tags {
        position: fixed;
        top: 115px;
        right: 300px;
        z-index: 1000;
    }

    .top-tags h2 {
        margin-top: 0;
    }

    .top-ten-tags {
        padding: 10px;
    }

    .tag-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tag-list li {
        margin-bottom: 10px;
    }

    .tag-name {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 6px 10px;
        background-color: #007bff;
        border-radius: 20px;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .tag-name:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .list-top-tegs {
        margin-bottom: 10px; 
    }
    .container main {
        margin-top: 72px;
    }

    .brand {
        margin-top: -100px;
    }
    .search-form {
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
        height: 47px;
        position: relative;
        top: 4px;
        transition: box-shadow 0.3s, border-radius 0.3s; 
    }

    .search-form input[type="text"] {
        width: 270px;
        padding: 12px 24px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 100%; 
    }

    .search-form:hover input[type="text"] {
        border-color: #007bff;
    }
</style>
<body>
    <div class="brand"> 
        <h1><a href="/" style="text-decoration: none">Quotes to Scrape</a></h1>
    </div>
    <div class="top-tags">
        <h2>Top Ten Tags</h2>
        <div class="top-ten-tags"> 
            <ul class="tag-list">
                {% for tag in top_tags %}
                <div class="list-top-tegs">
                    <span class="tag-number">{{ forloop.counter }}. </span>
                    <a class="tag-name" href="/quotes_by_tag/{{ tag }}/page/1">{{ tag.name }}</a>
                    <span class="tag-count">{{ tag.num_quotes }}</span>
                    </a>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>  
<main class="container">   
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.name }}</span>
            <span class="by"> by <small class="author" itemprop="author">{{ quote.author }}</small>
            <a href="/author/{{ quote.author }}" style="text-decoration: none">(about)</a>
            </span>
            <div class="tags">
                Tags:
                <meta class="keywords" itemprop="keywords" content="{{ quote.tags }}"> 
                {% for tag in quote.tags.all %}
                <a class="tag" href="/quotes_by_tag/{{ tag }}/page/1">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>  
<!-- Кнопки для навигации по страницам -->
<div class="pagination">
    <span class="step-links">
        {% if quotes.has_previous %}
        <a href="/quotes_by_tag/{{ tag.name }}">&laquo; First</a>
        <a href="/quotes_by_tag/{{ tag.name }}/page/{{ quotes.previous_page_number }}">&#10094; Previous</a>
        {% endif %}
        
        <span class="current">
            <span style="text-align: center;">Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}.</span>
        </span>
        
        {% if quotes.has_next %}
            <a href="/quotes_by_tag/{{ tag.name }}/page/{{ quotes.next_page_number }}">Next &#10095;</a>
            <a href="/quotes_by_tag/{{ tag.name }}/page/{{ quotes.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>


    {% endblock %}
