{% extends "quotes/base.html" %}

{% block content %}
<style>
    form {
        max-width: 700px; 
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        background-color: transparent; 
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    button {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .secondary {
        background-color: #6c757d;
        color: #fff;
    }

    .secondary:hover {
        background-color: #5a6268;
    }

    .tag-list {
        display: none;
        position: absolute;
        background-color: #11154d;
        border: 1px solid #cccccc;
        padding: 10px;
        border-radius: 5px;
    }

    .tag-list label {
        display: block;
        cursor: pointer;
    }

    .tag-list label:hover {
        background-color: #0c4d14;
        border-radius: 10px;
    }

    #selected-tags {
        margin-top: 10px;
    }

    .selected-tag {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #417c3b;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .selected-tag:hover {
        background-color: #5c2222;
    }

    #more-tags {
        display: block;
        margin-top: 5px; 
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #795988;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s; 
    }

    #more-tags:hover {
        background-color: #332379;
        transform: translateY(-2px); 
    }
</style>
<form method="POST" action="{% url 'quotes:quote' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label for="id_name">Quote:</label>
        {{ form.name }}
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding: 10px">
        <label for="id_description">Author:</label>
        {{ form.author }}
        <span>{{ form.errors.author }}</span>
    </div>
    <div style="padding: 10px">
        <label>Select tags:</label>
        <div id="selected-tags">
        </div>
        <button type="button" id="more-tags">More Tags</button>
        <div id="tag-list" class="tag-list" style="display: none;">
            {% for tag in tags %}
                <label>
                    <input type="checkbox" class="tag-checkbox" name="tags" value="{{ tag.name }}">
                    {{ tag.name }}
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('more-tags').addEventListener('click', function() {
            document.getElementById('tag-list').style.display = 'block';
        });

        var selectedTagsContainer = document.getElementById('selected-tags');
        selectedTagsContainer.addEventListener('click', function(event) {
            if (event.target.classList.contains('selected-tag')) {
                event.target.parentNode.removeChild(event.target);
                var checkbox = document.querySelector('.tag-checkbox[value="' + event.target.textContent + '"]');
                if (checkbox) {
                    checkbox.checked = false;
                }
            }
        });

        var checkboxes = document.querySelectorAll('.tag-checkbox');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var selectedTagsContainer = document.getElementById('selected-tags');
                var selectedTag = selectedTagsContainer.querySelector('.selected-tag[data-value="' + this.value + '"]');

                if (this.checked && !selectedTag) {
                    var selectedTagElement = document.createElement('div');
                    selectedTagElement.classList.add('selected-tag');
                    selectedTagElement.textContent = this.value;
                    selectedTagElement.setAttribute('data-value', this.value);
                    selectedTagsContainer.appendChild(selectedTagElement);
                } else if (!this.checked && selectedTag) {
                    selectedTag.parentNode.removeChild(selectedTag);
                }
            });
        });

        document.querySelector('button[type="reset"]').addEventListener('click', function() {
            var selectedTags = document.querySelectorAll('.selected-tag');
            selectedTags.forEach(function(tag) {
                tag.parentNode.removeChild(tag);
            });
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
        });

        document.addEventListener('click', function(event) {
            var tagList = document.getElementById('tag-list');
            var moreTagsButton = document.getElementById('more-tags');
            if (!tagList.contains(event.target) && event.target !== moreTagsButton) {
                tagList.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
