{% extends "quotes/base.html" %}

{% block content %}
<style>
    .quote {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

    .pagination {
        margin-top: 20px;
    }

    .pagination a {
        margin-right: 5px;
    }

    .header {
        margin-top: 60px;
    }

    .quote {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 900px; 
        max-height: 700px; 
    }

    .quote .text {
        font-size: 18px;
        font-style: italic;
        color: #ffffff;
    }
    
    .by {
        display: block;
    }

    .quote .author {
        font-weight: bold;
        color: #007bff;
    }

    .tags {
        margin-top: 10px;
        
    }

    .tags .tag {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 6px 10px;
        background-color: #007bff;
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .tags .tag:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .col-md-8 {
        margin-top: 30px;
    }

    .top-tags {
        position: fixed;
        top: 115px;
        right: 300px;
        z-index: 1000;
    }

    .top-tags h2 {
        margin-top: 0;
    }

    .top-ten-tags {
        padding: 10px;
    }

    .tag-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tag-list li {
        margin-bottom: 10px;
    }

    .tag-name {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 6px 10px;
        background-color: #007bff;
        border-radius: 20px;
        text-decoration: none;
        transition: all 0.3s ease;
        
    }

    .tag-name:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .list-top-tegs {
        margin-bottom: 10px; 
    }
</style>
<body>
    <h1 class="header">
        Viewing tag: 
        <a href="/quotes_by_tag/{{ tag_name }}/page/1/" style="text-decoration: none">{{ tag_name }}</a>
    </h1>
    <div class="top-tags">
        <h2>Top Ten Tags</h2>
        <div class="top-ten-tags"> 
            <ul class="tag-list">
                {% for tag in top_ten_tags %}
                <div class="list-top-tegs">
                    <span class="tag-number">{{ forloop.counter }}. </span>
                    <a class="tag-name" href="/quotes_by_tag/{{ tag }}/page/1">{{ tag.name }}</a>
                    <span class="tag-count">{{ tag.num_quotes }}</span>
                    </a>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>  
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.name }}</span>
            <span class="by"> by <small class="author" itemprop="author">{{ quote.author }}</small>
            <a href="/author/{{ quote.author }}" style="text-decoration: none">(about)</a>
            </span>
            <div class="tags">
                Tags:
                <meta class="keywords" itemprop="keywords" content="{{ quote.tags }}"> 
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:quotes_by_tag_paginated' tag.name 1 %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>  
    <div class="pagination">
        <span class="step-links">
            {% if quotes.has_previous %}
                {% if quotes.previous_page_number == 1 %}
                <a href="{% url 'quotes:quotes_by_tag' tag_name %}">&laquo; First</a>
                <a href="{% url 'quotes:quotes_by_tag' tag_name %}">previous</a>
                {% else %}
                <a href="{% url 'quotes:quotes_by_tag' tag_name %}">&laquo; First</a>
                <a href="{% url 'quotes:quotes_by_tag_paginated' tag_name quotes.previous_page_number %}">previous</a>
                {% endif %}
            {% endif %}
    
            <span class="current">
                Page {{ quotes.number }} з {{ quotes.paginator.num_pages }}.
            </span>
    
            {% if quotes.has_next %}
                <a href="{% url 'quotes:quotes_by_tag_paginated' tag_name quotes.next_page_number %}">next</a>
                <a href="{% url 'quotes:quotes_by_tag_paginated' tag_name quotes.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
{% endblock %}